#avatar{
    height: 300px;
}

#about-me-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 2s;
}

#about-me-section p{
    width: 400px;
    padding: 20px;
    background: rgb(74 93 100);
    color: white;
    line-height: 1.3em;
    text-align: justify;
    border-radius: 5px;
    font-family: Lato;
    transform: translateX(200px);
    z-index: 4;
    font-size: 1.2rem;
}

.h-spacer{
    margin: 10px 80px;
}

#avatar{
    opacity: 0;
    transform: translateX(-200px);
    transition: 2s;
}

.main-div:hover #avatar{
    opacity: 1;
    transform: translateX(200px);
}

.main-div:hover #about-me-section{
    transform: translateX(-200px);
}


@media only screen and (max-width:1000px){
    #about-me-section{
        flex-direction: column;
    }

    .main-div:hover #about-me-section{
        transform: unset;
    }

    #about-me-section p{
    font-size: 1rem;
    width: 70vw;
    transform: unset;
    transform: translateX(-10px);
    box-sizing: border-box;
    }

    #avatar{
        transform: unset;

    }

    .main-div:hover #avatar{
        transform: translate(100px,-600px);
        opacity:1
    }

    .h-spacer{
        margin: 10px 0px;
    }

    footer{
        height: auto;
    }

    footer ul{
        height: auto;
    }

    footer ul{
        position: fixed;
        bottom: 0;
    }

    footer ul li img{
        height: 10px;
    }

    .contact-item{
        display: none;
    }
}