#projects-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Lato;
    width: 95vw;
    padding-bottom: 50px;
}

aside{
    background: rgba(0, 0, 0, 0.438);
    color: white;
    line-height: 1.3em;
    text-align: justify;
    border-radius: 5px;
    font-family: Lato;
}



ul{
    margin-block-start: 0em ;
    padding-inline-start: 0em;
    list-style: none;
    min-width: 250px;
}

li{
    padding: 1em;
    cursor: pointer;
}

aside li{
    font-size: 1.1rem;
}

aside h3{
    background-color: #e6f0ef;
    color: black;
    width: 80%;
    margin: 10px auto;
    margin-top: 20px;
    padding: 20px 0;
}

aside li:hover{
    background-color: rgb(88, 89, 88);
}

#projects-main>section{
    width: 90%;
    display: flex;
    justify-content: center;
}

.right,.left{
    margin: 0 20px;
}

.project-image{
    width: 400px;
    max-width: 70vw;
    height: 250px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px 3px;
    margin-bottom: 10px;
}

.project-image::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
}

.tech-div{
    background:#44575df0;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70vw;
    margin-top: 15px;
}

.tech-div > h3{
    width: 100%;
    color:white;
    margin:7px 0;
}

.badge{
    height: 60px;
    padding:5px;
    position: relative;
}

.right p{
    padding: 20px 20px;

    max-width: 600px;
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, 0.66);
}

.links-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #4d6066;
    margin-top: 20px;
    width: 400px;
    max-width: 70vw;
    box-sizing: border-box;
}

.links-container a{
    font-size: 1.4rem;
    margin: 0 10px;
    color: white;
    font-weight: bold;
}

h3{
    text-align: center;
}

#projects-main h2{
    font-size: 2rem;
    margin-top: 0;
}

.left>section{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.left>section::after{
    font-size: 1.5rem;
    content: "▼";
    position: absolute;
    right: -3px;
    top: 5px;
    pointer-events: none;
}

select{

    font-size: 2rem;
    background: none;
    border: none;
    text-align: center;
    position: relative;

}



select:focus-visible{
    outline: none;
}

option{
    background: #ddeaeb;
}


.left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collaborator{
    display: flex;
    justify-content: space-between;
}

.collaborator>span{
    width: 150px;
}

@media only screen and (max-width:1100px) {
    #projects-main>section{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width:630px) {
    aside{
        display: none;
    }
    .right p,.left p{
        width:300px
    }
}