#projects-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

aside{

    padding: 20px;
    background: rgba(0, 0, 0, 0.438);
    color: white;
    line-height: 1.3em;
    text-align: justify;
    border-radius: 5px;
}

ul{
    margin-block-start: 0em ;
    padding-inline-start: 0em;
}

li{
    padding: 1em;
    cursor: pointer;
}

.project-image{
    width: 600px;
}