:root{
  --main-bg-color:red;
  --main-accent-color:pink;
  --light-text-color:white;
  --dark-text-color:blue;
  --light-hover-background:grey;
  --dark-hover-text-color:black;
}


body{
  margin: 0px;
}

